<link rel="stylesheet" href="./css.css"/>

<h1>Posts of Awesomeness</h1>
<ul>
    <% for(var i=0; i<val.length; i++) { %>
        <li>
            <div class="post">
                <h3><%= val[i].title %></h3>
                <p><%= val[i].content %></p>
                <p>By: <%= val[i].fullName %> on <%= val.publishDate %></p>
                <p>post id: <i><%= val[i]._id %></i></p>
            </div>
        </li>
    <% } %>
</ul>
